<template>
	<div>
		<!-- this component has slot metadata -->
		<slot-metadata>
			<!-- this slot should not have any errors -->
			<template #foo>
				<div>lorem ipsum</div>
			</template>

			<!-- this slot should have errors -->
			<template #bar>
				<div>lorem ipsum</div>
			</template>
		</slot-metadata>
	</div>
</template>
