<template>
	<div>
		<dynamic-component tagname="label">
			<div>lorem ipsum</div>
		</dynamic-component>
		<dynamic-component tagname="label">
			<template #foo>
				<div>lorem ipsum</div>
			</template>
		</dynamic-component>
	</div>
</template>
